@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes typing-text {
  from {
    width: 0; }
  to {
    width: 31ch; } }

@keyframes blink {
  from {
    border-color: transparent; }
  to {
    border-color: #fff; } }

@keyframes wave {
  0% {
    background-position: 0; }
  100% {
    background-position: 1920px; } }

@keyframes wave-reverse {
  0% {
    background-position: 1920px; }
  100% {
    background-position: 0; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: #fff;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

body {
  font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 400;
  line-height: 1.7; }

.section-heading {
  padding: 1rem;
  font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 3.2rem;
  font-weight: 500;
  color: #464646;
  text-align: center;
  text-transform: uppercase;
  position: relative; }

.section-tag-line {
  padding: 1.5rem 1rem 2.5rem 1rem;
  font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1.6rem;
  font-weight: 500;
  color: #464646;
  text-align: center; }

.section-divide {
  padding: 2rem 0; }

.bg-blue_grad {
  background: linear-gradient(to right bottom, #39459b, #0f97d5); }

.service-hover {
  position: absolute;
  padding: 3rem 1.5rem;
  top: 0;
  left: 0;
  border-radius: 8px;
  -webkit-transform: scale(1, 0);
  -moz-transform: scale(1, 0);
  -o-transform: scale(1, 0);
  transform: scale(1, 0);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transform-origin: bottom;
  width: 100%;
  height: 100%; }

.disabled {
  color: #cccccc; }

button {
  cursor: pointer;
  border: 0px; }

input:focus, button:focus, textarea:focus {
  outline: 0 !important; }

[role=button], a, area, button, input, label, select, summary, textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

.social_share-btn {
  padding: 3rem 0; }
  .social_share-btn ul {
    position: relative;
    padding: 0;
    margin: 0;
    display: flex; }
    .social_share-btn ul li {
      position: relative;
      list-style: none;
      padding: 20px;
      margin: 0 2.5rem;
      transform: rotate(-30deg) skew(25deg);
      background: #cccccc; }
      @media (min-width: 768px) and (max-width: 991px) {
        .social_share-btn ul li {
          padding: 15px;
          margin: 0 1.5rem; } }
      @media (min-width: 300px) and (max-width: 420px) {
        .social_share-btn ul li {
          padding: 15px;
          margin: 0 1.5rem; } }
      .social_share-btn ul li span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        transition: 0.5s;
        display: flex !important;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 2rem; }
        @media (min-width: 768px) and (max-width: 991px) {
          .social_share-btn ul li span {
            font-size: 1.6rem; } }
        @media (min-width: 300px) and (max-width: 420px) {
          .social_share-btn ul li span {
            font-size: 1.6rem; } }
      .social_share-btn ul li:hover span {
        box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1); }
        .social_share-btn ul li:hover span:nth-child(5) {
          transform: translate(40px, -40px);
          opacity: 1; }
        .social_share-btn ul li:hover span:nth-child(4) {
          transform: translate(30px, -30px);
          opacity: 0.8; }
        .social_share-btn ul li:hover span:nth-child(3) {
          transform: translate(20px, -20px);
          opacity: 0.6; }
        .social_share-btn ul li:hover span:nth-child(2) {
          transform: translate(10px, -10px);
          opacity: 0.4; }
        .social_share-btn ul li:hover span:nth-child(1) {
          transform: translate(0, 0);
          opacity: 0.2; }
      .social_share-btn ul li:nth-child(1) span {
        background: #3C5A99; }
      .social_share-btn ul li:nth-child(2) span {
        background: #00aced; }
      .social_share-btn ul li:nth-child(3) span {
        background: #0077B5; }
      .social_share-btn ul li:nth-child(4) span {
        background: #dd4b39; }

@media (min-width: 768px) {
  .d-none-xl {
    display: none !important; } }

.scrollup {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  position: fixed;
  bottom: 50px;
  right: 30px;
  background: linear-gradient(to right bottom, #39459b, #0f97d5);
  color: #fff;
  background-position: center;
  z-index: 999;
  display: none;
  text-align: center;
  transition: all .4s ease; }
  @media (min-width: 300px) and (max-width: 767px) {
    .scrollup {
      bottom: 30px;
      right: 10px; } }
  .scrollup:hover {
    color: #fff !important; }
  .scrollup .fas {
    transition: all .4s ease; }
  .scrollup:hover .fas {
    font-size: 1.6rem;
    color: #fff !important; }

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s; }
  #mainNav .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: #df1d41; }
    #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color: #df1d41; }
    #mainNav .navbar-brand img.logo {
      height: 65px;
      width: auto; }
  #mainNav .navbar-nav > li.nav-item {
    margin-left: 1rem; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
      font-size: 1.2rem;
      font-weight: 700;
      text-transform: uppercase;
      color: #212529;
      border-radius: 5px; }
      @media (min-width: 768px) and (max-width: 991px) {
        #mainNav .navbar-nav > li.nav-item > a.nav-link,
        #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
          text-align: center; } }
      @media (min-width: 300px) and (max-width: 767px) {
        #mainNav .navbar-nav > li.nav-item > a.nav-link,
        #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
          padding: 0.3rem 0 0.3rem 2rem;
          margin: 10px 18px 8px 0px;
          background: #fff;
          border-radius: 0; } }
      #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
      #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
        color: #fff;
        background: linear-gradient(to right bottom, #39459b, #0f97d5); }
      #mainNav .navbar-nav > li.nav-item > a.nav-link.active,
      #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
        color: #fff !important;
        background: linear-gradient(to right bottom, #39459b, #0f97d5); }
        #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
        #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
          background-color: transparent; }
  @media (min-width: 768px) {
    #mainNav {
      border-color: transparent;
      background-color: transparent; }
      #mainNav .navbar-brand {
        color: rgba(255, 255, 255, 0.7); }
        #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
          color: #fff; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link {
        padding: 0.5rem 1rem; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link,
      #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
        color: rgba(255, 255, 255, 0.7); }
        #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
        #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
          color: #fff; }
      #mainNav.navbar-shrink {
        border-bottom: 1px solid rgba(33, 37, 41, 0.1);
        background-color: #fff; }
        #mainNav.navbar-shrink .navbar-brand {
          color: #df1d41; }
          #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
            color: #df1d41; }
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
          color: #212529; }
          #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
          #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
            color: #fff; } }

.mobile_menu-icon_wrap {
  position: absolute;
  right: 15%;
  margin: 0;
  width: 36px;
  height: 24px;
  cursor: pointer; }
  @media (min-width: 768px) {
    .mobile_menu-icon_wrap {
      display: none !important; } }
  @media (min-width: 580px) and (max-width: 666px) {
    .mobile_menu-icon_wrap {
      right: 7%; } }
  @media (min-width: 300px) and (max-width: 576px) {
    .mobile_menu-icon_wrap {
      right: 5%; } }
  .mobile_menu-icon_wrap .hamburger-icon {
    position: relative;
    transform: translateY(10px);
    background: linear-gradient(to right bottom, #39459b, #0f97d5);
    transition: all 0ms 300ms;
    width: 36px;
    height: 4px; }
    .mobile_menu-icon_wrap .hamburger-icon.animate {
      background: rgba(255, 255, 255, 0); }
      .mobile_menu-icon_wrap .hamburger-icon.animate:after {
        top: 0;
        transform: rotate(45deg);
        transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }
      .mobile_menu-icon_wrap .hamburger-icon.animate:before {
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }
    .mobile_menu-icon_wrap .hamburger-icon:after, .mobile_menu-icon_wrap .hamburger-icon:before {
      width: 36px;
      height: 4px; }
    .mobile_menu-icon_wrap .hamburger-icon:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 10px;
      background: linear-gradient(to right bottom, #39459b, #0f97d5);
      transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1); }
    .mobile_menu-icon_wrap .hamburger-icon:after {
      content: "";
      position: absolute;
      left: 0;
      top: 10px;
      background: linear-gradient(to right bottom, #39459b, #0f97d5);
      transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1); }

@media (min-width: 300px) and (max-width: 767px) {
  #navbarResponsive {
    position: fixed;
    display: block;
    background: #fff;
    width: 100%;
    top: 12%;
    left: 100%;
    padding-left: 16px;
    transition: .5s;
    z-index: -1; }
    #navbarResponsive ul {
      margin-top: 8% !important;
      background: #eeeeee;
      margin-left: -16px !important;
      padding-left: 10px !important; } }

@media screen and (min-height: 569px) {
  #navbarResponsive {
    top: 8%; } }

.collapse.Collapse_ham {
  left: 0% !important;
  transition: .5s; }

.masthead {
  margin: 0;
  font-family: 'Helvetica', sans-serif;
  background: #0f97d5;
  background: -moz-linear-gradient(-45deg, #39459b 0%, #0f97d5 100%);
  background: -webkit-linear-gradient(-45deg, #39459b 0%, #0f97d5 100%);
  background: linear-gradient(135deg, #39459b 0%, #0f97d5 100%);
  padding-top: 10rem; }
  @media (min-width: 300px) and (max-width: 1199px) {
    .masthead {
      padding-top: 5rem; } }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .masthead {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%);
      height: 75vh; }
      @media (min-width: 300px) and (max-width: 767px) {
        .masthead {
          -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          height: 100vh; } } }
  .masthead .hero-text {
    padding-top: 15rem; }
    @media (min-width: 768px) and (max-width: 991px) {
      .masthead .hero-text {
        padding-top: 8rem; } }
    @media (min-width: 300px) and (max-width: 767px) {
      .masthead .hero-text {
        padding-top: 5rem; } }
    .masthead .hero-text_h1 {
      font-family: 'ZCOOL XiaoWei', serif;
      font-size: 3.2rem;
      font-weight: 400;
      color: white;
      text-transform: uppercase;
      margin-bottom: 2rem;
      animation: typing-text 5s steps(31), blink 0.5s infinite alternate;
      overflow: hidden;
      white-space: nowrap;
      border-right: 3px solid #fff;
      display: block; }
      @media (min-width: 992px) and (max-width: 1199px) {
        .masthead .hero-text_h1 {
          font-size: 2.7rem; } }
      @media (min-width: 768px) and (max-width: 991px) {
        .masthead .hero-text_h1 {
          font-size: 3.2rem;
          animation: unset;
          overflow: hidden;
          white-space: unset;
          border-right: unset;
          display: unset; } }
      @media (min-width: 576px) and (max-width: 767px) {
        .masthead .hero-text_h1 {
          font-size: 3.6rem;
          animation: unset;
          overflow: hidden;
          white-space: unset;
          border-right: unset;
          display: unset; } }
      @media (min-width: 300px) and (max-width: 575px) {
        .masthead .hero-text_h1 {
          font-size: 2.4rem;
          animation: unset;
          overflow: hidden;
          white-space: unset;
          border-right: unset;
          display: unset; } }
    .masthead .hero-text p {
      font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.4;
      color: white;
      text-align: justify;
      visibility: visible;
      animation-delay: 0.2s;
      animation-name: fadeInUp; }
  .masthead .hero-icons {
    padding-top: 16rem; }
    @media (min-width: 768px) and (max-width: 991px) {
      .masthead .hero-icons {
        padding-top: 9rem; } }
    @media (min-width: 300px) and (max-width: 767px) {
      .masthead .hero-icons {
        padding-top: 2rem; } }
    .masthead .hero-icons ul {
      margin: 0;
      padding: 0; }
      .masthead .hero-icons ul li {
        display: inline-block;
        list-style-type: none;
        margin-left: 1rem;
        margin-bottom: 1rem;
        background-color: #fff;
        padding: 1.5rem;
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(33, 33, 33, 0.8);
        transition: all 0.4s; }
        .masthead .hero-icons ul li:hover {
          border-radius: 100%; }
    .masthead .hero-icons .icon-java, .masthead .hero-icons .icon-php, .masthead .hero-icons .icon-node-dot-js, .masthead .hero-icons .icon-mongodb, .masthead .hero-icons .icon-react, .masthead .hero-icons .icon-angular, .masthead .hero-icons .icon-apple, .masthead .hero-icons .icon-android, .masthead .hero-icons .icon-laravel, .masthead .hero-icons .icon-wordpress, .masthead .hero-icons .icon-html5, .masthead .hero-icons .icon-css3 {
      visibility: visible;
      animation-name: fadeIn; }
    .masthead .hero-icons .icon-java {
      animation-delay: 0.2s; }
    .masthead .hero-icons .icon-php {
      animation-delay: 0.4s; }
    .masthead .hero-icons .icon-node-dot-js {
      animation-delay: 0.6s; }
    .masthead .hero-icons .icon-mongodb {
      animation-delay: 0.8s; }
    .masthead .hero-icons .icon-react {
      animation-delay: 1s; }
    .masthead .hero-icons .icon-angular {
      animation-delay: 1.2s; }
    .masthead .hero-icons .icon-apple {
      animation-delay: 1.4s; }
    .masthead .hero-icons .icon-android {
      animation-delay: 1.6s; }
    .masthead .hero-icons .icon-laravel {
      animation-delay: 1.8s; }
    .masthead .hero-icons .icon-wordpress {
      animation-delay: 2s; }
    .masthead .hero-icons .icon-html5 {
      animation-delay: 2.2s; }
    .masthead .hero-icons .icon-css3 {
      animation-delay: 2.4s; }
    .masthead .hero-icons .brand-icon {
      width: 2.25rem;
      height: 2.25rem; }
  @media (min-width: 992px) {
    .masthead {
      min-height: 750px; } }

/* SERVICE SECTION STYLED */
.service_item {
  background-color: #f9f9f9;
  padding: 4.5rem 3rem;
  border: 2px solid #eeeeee;
  border-radius: 8px;
  position: relative;
  overflow: hidden; }
  @media (min-width: 300px) and (max-width: 991px) {
    .service_item {
      margin-bottom: 2rem; } }
  .service_item-icon {
    margin-bottom: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 4.5rem;
    height: 4.5rem; }
  .service_item .soft-solution_icon, .service_item .sphere_icon {
    fill: #13c8c2; }
  .service_item .mobile-app_icon {
    fill: #39459b; }
  .service_item-title {
    position: relative;
    font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 2.6rem;
    font-weight: 500;
    color: #464646;
    display: block;
    text-align: center !important;
    text-transform: capitalize;
    padding: 1.5rem; }
    .service_item-title:after {
      content: "";
      position: absolute;
      bottom: -15px;
      left: calc(50% - 20px);
      width: 5rem;
      height: 2px;
      background: #464646; }
  .service_item-des {
    padding: 1.5rem 0 0 0;
    font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: 500;
    color: #212529;
    text-align: center; }
  .service_item-icon, .service_item-title, .service_item-des {
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .service_item:hover .service-hover,
  .service_item:hover .service_item-icon,
  .service_item:hover .service_item-title,
  .service_item:hover .service_item-title:after,
  .service_item:hover .service_item-des {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
    color: #fff !important; }
  .service_item:hover .service_item-title:after {
    background: #fff !important; }
  .service_item:hover .soft-solution_icon,
  .service_item:hover .mobile-app_icon,
  .service_item:hover .sphere_icon {
    fill: #fff !important; }

/* WHAT WE DO SECTION STYLED */
.what_we-do {
  padding: 5rem 0 2rem 0;
  background: linear-gradient(to right bottom, #39459b, #0f97d5);
  transform: skewY(-2deg); }
  .what_we-do > * {
    transform: skewY(2deg); }
  @media only screen and (min-width: 300px) and (max-width: 991px) {
    .what_we-do_img {
      margin-bottom: 3rem !important; } }
  .what_we-do_title h2 {
    font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 2.6rem;
    font-weight: 500;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 1rem; }
  .what_we-do_title p {
    font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: 500;
    color: #fff;
    text-align: left;
    margin-bottom: 2rem; }
  .what_we-do_items ul {
    margin: 0;
    padding: 0; }
    .what_we-do_items ul li {
      list-style-type: none;
      font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
      font-size: 1.6rem;
      font-weight: 500;
      color: #fff;
      text-align: left; }
      .what_we-do_items ul li i {
        font-size: 1.2rem;
        color: #13c8c2 !important;
        margin-right: 0.5rem; }

/* PORTFOLIO SECTION STYLED */
#portfolio {
  padding: 3rem 0;
  margin: 5rem 0; }
  #portfolio .portfolio_nav {
    display: inline-block;
    padding: 1rem 2rem;
    background: #f9f9f9;
    border-radius: 25px;
    width: auto;
    border: 2px solid #eeeeee; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      #portfolio .portfolio_nav {
        padding: 1rem 1.5rem; } }
    @media only screen and (min-width: 376px) and (max-width: 575px) {
      #portfolio .portfolio_nav {
        padding: 1rem 1.5rem; } }
    #portfolio .portfolio_nav ul {
      margin: 0;
      padding: 0; }
      #portfolio .portfolio_nav ul li {
        list-style-type: none;
        display: inline-block;
        margin: 0 1rem; }
        @media only screen and (min-width: 992px) and (max-width: 1199px) {
          #portfolio .portfolio_nav ul li {
            margin: 0 0.5rem; } }
        @media only screen and (min-width: 376px) and (max-width: 575px) {
          #portfolio .portfolio_nav ul li {
            margin: 0 0.4rem; } }
        @media only screen and (min-width: 300px) and (max-width: 375px) {
          #portfolio .portfolio_nav ul li {
            display: block;
            margin-bottom: 1rem; } }
        #portfolio .portfolio_nav ul li span {
          display: block;
          padding: 0.8rem 2.5rem;
          border-radius: 25px;
          text-decoration: none;
          cursor: pointer;
          font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
          font-size: 1.8rem;
          line-height: 1.4;
          font-weight: 500;
          color: #464646;
          transition: all 0.3s; }
          @media only screen and (min-width: 992px) and (max-width: 1199px) {
            #portfolio .portfolio_nav ul li span {
              padding: 0.8rem 2rem; } }
          @media only screen and (min-width: 576px) and (max-width: 767px) {
            #portfolio .portfolio_nav ul li span {
              padding: 0.8rem 2rem; } }
          @media only screen and (min-width: 376px) and (max-width: 575px) {
            #portfolio .portfolio_nav ul li span {
              padding: 0.8rem; } }
          #portfolio .portfolio_nav ul li span:hover {
            background: linear-gradient(to right bottom, #39459b, #0f97d5);
            color: #fff; }
        #portfolio .portfolio_nav ul li span.active {
          background: linear-gradient(to right bottom, #39459b, #0f97d5);
          color: #fff; }
  #portfolio #portfoliolist {
    margin-left: auto;
    margin-right: auto;
    display: block; }
  #portfolio .portfolio_items {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    display: none;
    width: 30%;
    margin: 1%;
    float: left;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      #portfolio .portfolio_items {
        width: 48%; } }
    @media only screen and (max-width: 767px) {
      #portfolio .portfolio_items {
        width: 96%;
        margin: 2%; } }
    #portfolio .portfolio_items:hover {
      border-radius: 10px;
      box-shadow: 0 0 11px rgba(33, 33, 33, 0.4) !important; }
    #portfolio .portfolio_items-wrap {
      overflow: hidden;
      position: relative !important;
      background: #adb5bd;
      cursor: pointer; }
      #portfolio .portfolio_items-wrap_img {
        position: relative; }
        #portfolio .portfolio_items-wrap_img .view-overly {
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
          opacity: 0;
          -webkit-transform: scale(0);
          transform: scale(0);
          -webkit-transition: transform .5s ease, opacity .7s ease;
          transition: transform .5s ease, opacity .7s ease;
          height: 100%;
          width: 100%;
          background: rgba(0, 0, 0, 0.7); }
          #portfolio .portfolio_items-wrap_img .view-overly i {
            font-size: 3.6rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            transition: all 0.4s; }
            #portfolio .portfolio_items-wrap_img .view-overly i:hover {
              color: #E04622; }
        #portfolio .portfolio_items-wrap_img img {
          width: 100%;
          height: 30rem;
          border-radius: 10px;
          position: relative;
          top: 0;
          -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
          transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1); }
          #portfolio .portfolio_items-wrap_img img:hover {
            top: -60px; }
        #portfolio .portfolio_items-wrap_img:hover .view-overly {
          opacity: 1;
          -webkit-transform: scale(1);
          transform: scale(1);
          -webkit-transition: transform .5s ease, opacity 1.3s ease;
          transition: transform .5s ease, opacity 1.3s ease; }
      #portfolio .portfolio_items-wrap .label {
        position: absolute;
        width: 100%;
        height: 80px;
        bottom: -80px;
        -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1); }
      #portfolio .portfolio_items-wrap .label-bg {
        background: linear-gradient(to right bottom, #39459b, #0f97d5);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0; }
      #portfolio .portfolio_items-wrap .label-text {
        color: #fff;
        position: relative;
        z-index: 500;
        padding: 1rem; }
        #portfolio .portfolio_items-wrap .label-text .text-title {
          text-decoration: none;
          cursor: pointer;
          font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
          font-size: 1.6rem;
          line-height: 1.6;
          font-weight: 500;
          color: #fff;
          text-align: center;
          text-transform: uppercase;
          display: block;
          transition: all 0.3s; }
          #portfolio .portfolio_items-wrap .label-text .text-title:hover {
            color: #E04622; }
        #portfolio .portfolio_items-wrap .label-text .text-category {
          display: block;
          font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
          font-size: 1.6rem;
          line-height: 1.6;
          font-weight: 400;
          color: #fff;
          text-align: center;
          text-transform: capitalize; }
      #portfolio .portfolio_items-wrap:hover .label {
        bottom: 0; }
  #portfolio .portfolio-more_btn {
    font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 1.8rem;
    line-height: 1.6;
    font-weight: 500;
    margin-top: 4rem;
    padding: 1rem 1.5rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 25px;
    background: linear-gradient(to right bottom, #39459b, #0f97d5); }
    #portfolio .portfolio-more_btn:hover {
      box-shadow: 0 15px 15px -11px rgba(0, 0, 0, 0.4);
      -webkit-transform: scale(1.05, 1.05);
      -moz-transform: scale(1.05, 1.05);
      -o-transform: scale(1.05, 1.05);
      transform: scale(1.05, 1.05);
      -webkit-transform: translate(0, -0.5rem);
      -moz-transform: translate(0, -0.5rem);
      -o-transform: translate(0, -0.5rem);
      transform: translate(0, -0.5rem);
      background: linear-gradient(to left bottom, #39459b, #0f97d5); }

/* PORTFOLIO MODAL STYLED */
.portfolio-modal .portfolio-modal-dialog {
  padding: 3rem 1rem;
  min-height: 100vh;
  margin: 0 !important;
  position: relative;
  z-index: 2;
  -moz-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5); }
  .portfolio-modal .portfolio-modal-dialog .close-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: #c24c4b;
    transition: all 0.2s; }
    .portfolio-modal .portfolio-modal-dialog .close-button:hover {
      color: #b81f3b; }
    .portfolio-modal .portfolio-modal-dialog .close-button i {
      line-height: 3.8rem; }
  .portfolio-modal .portfolio-modal-dialog h2 {
    font-size: 2rem; }

@media (min-width: 768px) {
  .portfolio-modal .portfolio-modal-dialog {
    min-height: 100vh;
    padding: 5rem;
    margin: 0 !important; }
    .portfolio-modal .portfolio-modal-dialog h2 {
      font-size: 3rem; } }

.portfolio-modal_img-wrap {
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.4) !important;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .portfolio-modal_img-wrap:hover .modal_view-overly {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: transform .5s ease, opacity 1.3s ease;
    transition: transform .5s ease, opacity 1.3s ease; }
  .portfolio-modal_img-wrap img {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 3rem 1rem; }
  .portfolio-modal_img-wrap .modal_view-overly {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: transform .5s ease, opacity .7s ease;
    transition: transform .5s ease, opacity .7s ease;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.7); }
    .portfolio-modal_img-wrap .modal_view-overly a {
      cursor: pointer; }
      .portfolio-modal_img-wrap .modal_view-overly a i {
        font-size: 5.6rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        transition: all 0.4s; }
        .portfolio-modal_img-wrap .modal_view-overly a i:hover {
          color: #E04622; }

.portfolio-modal_content .project-des {
  font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1.6rem;
  line-height: 1.8;
  font-weight: 400;
  color: #464646;
  text-align: justify; }

.portfolio-modal_content .project-tech {
  font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 2.2rem !important;
  line-height: 1.6;
  font-weight: 500;
  color: #464646;
  text-align: left;
  text-transform: uppercase; }

.portfolio-modal_content .project-tech_list ul {
  margin: 0;
  padding: 0; }
  .portfolio-modal_content .project-tech_list ul li {
    list-style-type: none;
    font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 1.6rem;
    font-weight: 400;
    color: #464646;
    text-align: left; }
    .portfolio-modal_content .project-tech_list ul li i {
      font-size: 1.2rem;
      color: #13c8c2 !important;
      margin-right: 0.5rem; }

.portfolio-modal_content .project_close-btn {
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 500;
  color: #fff;
  background: linear-gradient(to right bottom, #39459b, #0f97d5);
  padding: 1rem 2rem;
  border-radius: 20px;
  cursor: pointer;
  text-transform: capitalize;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .portfolio-modal_content .project_close-btn:hover {
    box-shadow: 0 15px 15px -11px rgba(0, 0, 0, 0.4);
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
    -webkit-transform: translate(0, -0.5rem);
    -moz-transform: translate(0, -0.5rem);
    -o-transform: translate(0, -0.5rem);
    transform: translate(0, -0.5rem);
    background: linear-gradient(to left bottom, #39459b, #0f97d5); }

.mfp-bg {
  background: unset !important; }

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100% !important;
  cursor: auto; }
  @media only screen and (min-width: 300px) and (max-width: 1199px) {
    .mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
      width: 100% !important; } }

.mfp-container {
  padding: 0 !important; }

/* overlay at start */
.mfp-fade.mfp-bg {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out; }

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8; }

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0; }

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out; }

/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1; }

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0; }

/* HYBRID MOBILE SECTION STYLED */
.hybrid_mobile {
  padding: 3rem 0 1rem 0;
  background: linear-gradient(to right bottom, #39459b, #0f97d5);
  transform: skewY(-2deg); }
  @media only screen and (min-width: 300px) and (max-width: 479px) {
    .hybrid_mobile {
      display: none !important; } }
  @media only screen and (min-width: 300px) and (max-width: 479px) {
    .hybrid_mobile {
      transform: skewY(-1deg); }
      .hybrid_mobile > * {
        transform: skewY(1deg); } }
  .hybrid_mobile > * {
    transform: skewY(2deg); }
  .hybrid_mobile-desc {
    font-size: 5.6rem;
    color: #fff; }
    .hybrid_mobile-desc h2 {
      font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
      font-size: 2.6rem;
      font-weight: 500;
      color: #fff;
      text-transform: uppercase;
      margin-bottom: 1.5rem; }
    .hybrid_mobile-desc p {
      font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
      font-size: 1.6rem;
      line-height: 1.4;
      font-weight: 500;
      color: #fff;
      text-align: justify; }
  .hybrid_mobile-img {
    position: relative;
    width: 360px;
    height: 640px;
    background: rgba(0, 0, 0, 0.1);
    transform: rotate(-30deg) skew(25deg) scale(0.8);
    transition: 0.5s;
    margin-top: 5rem; }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      .hybrid_mobile-img {
        width: 220px;
        height: 340px; } }
    .hybrid_mobile-img img {
      position: absolute;
      width: 100%;
      transition: 0.5s; }
    .hybrid_mobile-img:hover img:nth-child(4) {
      transform: translate(160px, -160px);
      opacity: 1; }
    .hybrid_mobile-img:hover img:nth-child(3) {
      transform: translate(120px, -120px);
      opacity: 0.8; }
    .hybrid_mobile-img:hover img:nth-child(2) {
      transform: translate(80px, -80px);
      opacity: 0.6; }
    .hybrid_mobile-img:hover img:nth-child(1) {
      transform: translate(40px, -40px);
      opacity: 0.4; }

/* TESTIMONIAL SECTION STYLED */
#testimonial {
  margin: 4rem 0;
  padding: 8rem 0 4rem 0;
  background-color: #f9f9f9; }
  #testimonial .testimonial-box {
    border: 2px solid #eeeeee;
    padding: 3rem 1rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    position: relative;
    z-index: 0;
    background-color: #fff;
    text-align: center !important; }
    #testimonial .testimonial-box i {
      font-size: 4.8rem;
      color: #13c8c2; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        #testimonial .testimonial-box i {
          font-size: 3.2rem; } }
    #testimonial .testimonial-box h2 {
      font-size: 2.4rem;
      font-weight: 500; }
    #testimonial .testimonial-box h3 {
      font-size: 2rem;
      font-weight: 400;
      text-transform: uppercase; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        #testimonial .testimonial-box h3 {
          font-size: 1.8rem; } }
    #testimonial .testimonial-box h2, #testimonial .testimonial-box h3 {
      font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
      line-height: 1.8;
      color: #464646; }
  #testimonial .clients_desc {
    padding-left: 3rem; }
    #testimonial .clients_desc h2 {
      font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
      font-size: 2.4rem;
      font-weight: 500;
      line-height: 1.8;
      color: #464646; }
    #testimonial .clients_desc .client_opinion {
      font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.6;
      color: #464646; }
  #testimonial #clients_slider {
    padding-left: 2rem; }
    #testimonial #clients_slider .client_item {
      padding: 1rem; }
      #testimonial #clients_slider .client_item .client_opinion {
        padding: 2rem;
        background: #fff;
        border-radius: 8px;
        border: 2px solid #eeeeee;
        position: relative;
        margin-bottom: 1.5rem;
        font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
        font-size: 1.4rem;
        font-weight: 500;
        text-align: justify;
        color: #464646; }
        #testimonial #clients_slider .client_item .client_opinion:after {
          content: "";
          position: absolute;
          top: calc(100% - 14.5px);
          left: 21px;
          width: 30px;
          height: 30px;
          background: #fff;
          border-width: 0px 2px 2px 0px;
          border-color: #eeeeee;
          border-style: solid;
          background: #fff;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg); }
      #testimonial #clients_slider .client_item .client_image {
        width: 80px;
        border-radius: 50%;
        margin-top: 1rem;
        margin-right: 1rem; }
      #testimonial #clients_slider .client_item .client_name {
        font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
        font-size: 2rem;
        font-weight: 500;
        color: #464646;
        display: block; }
      #testimonial #clients_slider .client_item .client_designation {
        font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
        font-size: 1.4rem;
        font-weight: 500;
        color: #464646;
        display: block; }

/* MISSION & VISION SECTION STYLED */
.mission_vission {
  margin: 3rem 0 !important;
  padding: 5rem 0;
  background: linear-gradient(to right bottom, #39459b, #0f97d5);
  transform: skewY(-2deg); }
  .mission_vission > * {
    transform: skewY(2deg); }
  .mission_vission-desc {
    font-size: 5.6rem;
    color: #fff; }
    .mission_vission-desc h2 {
      font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
      font-size: 2.6rem;
      font-weight: 500;
      color: #fff;
      text-transform: uppercase;
      margin-bottom: 1.5rem;
      font-style: italic; }
    .mission_vission-desc p {
      font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
      font-size: 1.6rem;
      line-height: 1.4;
      font-weight: 500;
      color: #fff;
      text-align: justify;
      font-style: italic; }

/* TEAM SECTION STYLED */
#team {
  margin: 5rem 0; }
  #team #team_slider {
    margin-top: 4rem; }
    #team #team_slider .team_item {
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 0 14px #cccccc; }
      #team #team_slider .team_item .pic {
        position: relative; }
        #team #team_slider .team_item .pic:before {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: rgba(0, 0, 0, 0.7);
          opacity: 0;
          transition: all 0.3s ease 0s;
          border-radius: 8px;
          z-index: 1; }
        #team #team_slider .team_item .pic:after {
          content: "";
          width: 90%;
          height: 90%;
          border: 2px solid #fff;
          position: absolute;
          top: 5%;
          left: 5%;
          opacity: 0;
          transition: all 0.3s ease 0s;
          border-radius: 8px;
          z-index: 1; }
        #team #team_slider .team_item .pic img {
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
      #team #team_slider .team_item .social-links {
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
        position: absolute;
        bottom: 40px;
        left: 0;
        opacity: 0;
        z-index: 2;
        transition: all 0.3s ease 0s;
        justify-content: center;
        color: #fff;
        font-size: 2rem; }
        #team #team_slider .team_item .social-links li {
          margin: 0 0.8rem; }
          #team #team_slider .team_item .social-links li a {
            color: #fff; }
        #team #team_slider .team_item .social-links .fa-twitter, #team #team_slider .team_item .social-links .fa-google-plus-g, #team #team_slider .team_item .social-links .fa-linkedin-in, #team #team_slider .team_item .social-links .fa-facebook-f {
          transition: all 0.2s; }
        #team #team_slider .team_item .social-links .fa-twitter:hover {
          color: #00aced; }
        #team #team_slider .team_item .social-links .fa-google-plus-g:hover {
          color: #dd4b39; }
        #team #team_slider .team_item .social-links .fa-linkedin-in:hover {
          color: #0077B5; }
        #team #team_slider .team_item .social-links .fa-facebook-f:hover {
          color: #3C5A99; }
      #team #team_slider .team_item .team-content {
        padding: 15px 0;
        background: #eeeeee;
        overflow: hidden;
        position: relative;
        border-top: 3px solid #0f97d5; }
        #team #team_slider .team_item .team-content .title {
          font-size: 1.8rem;
          font-weight: 500;
          text-transform: uppercase !important; }
        #team #team_slider .team_item .team-content .post {
          font-size: 1.4rem;
          font-weight: 500;
          text-transform: capitalize !important; }
        #team #team_slider .team_item .team-content .title,
        #team #team_slider .team_item .team-content .post {
          display: block;
          text-align: center !important;
          font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; }
        #team #team_slider .team_item .team-content:before {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: -100%;
          left: 0;
          transition: all 0.3s ease-out 0s;
          background-image: linear-gradient(to right bottom, #0f97d5, #39459b); }
      #team #team_slider .team_item .title,
      #team #team_slider .team_item .post {
        transition: all 0.5s ease 0s;
        position: relative;
        z-index: 1; }
      #team #team_slider .team_item:hover .team-content {
        color: #fff; }
      #team #team_slider .team_item:hover .team-content:before {
        top: 0; }
      #team #team_slider .team_item:hover .pic img {
        -webkit-transform: scale(1.1, 1.1);
        -moz-transform: scale(1.1, 1.1);
        -o-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
        filter: blur(2px); }
      #team #team_slider .team_item:hover .pic:before,
      #team #team_slider .team_item:hover .pic:after,
      #team #team_slider .team_item:hover .pic .social-links,
      #team #team_slider .team_item:hover .pic:before,
      #team #team_slider .team_item:hover .pic:after,
      #team #team_slider .team_item:hover .pic .social-links {
        opacity: 1; }

/* CONTACT SECTION STYLED */
#contact {
  padding: 5rem 0;
  background-color: #f9f9f9; }
  #contact .contact-us {
    background: #fff;
    border-radius: 8px;
    padding: 5rem 4rem;
    box-shadow: 0 0 14px #cccccc;
    margin-right: 0;
    margin-left: 0; }
    #contact .contact-us .contact_info {
      border-radius: 8px; }
      #contact .contact-us .contact_info .contact_item {
        margin-bottom: 2rem; }
      #contact .contact-us .contact_info .info_icon {
        font-size: 2.6rem;
        margin-right: 1rem; }
      #contact .contact-us .contact_info p:first-of-type {
        font-size: 1.6rem;
        font-weight: 500; }
      #contact .contact-us .contact_info p:last-of-type {
        font-size: 1.2rem;
        font-weight: 500; }
      #contact .contact-us .contact_info p {
        font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
        margin-bottom: 0;
        color: #464646; }
        #contact .contact-us .contact_info p a {
          text-decoration: none;
          text-transform: lowercase !important;
          color: #464646 !important;
          transition: all 0.4s; }
          #contact .contact-us .contact_info p a:hover {
            color: #13c8c2 !important; }
    #contact .contact-us_btn,
    #contact .contact-us #contact_submit {
      font-size: 1.4rem;
      font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
      font-weight: 500;
      text-decoration: none;
      padding: 1rem 2rem;
      position: relative;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      border-radius: 25px;
      background: linear-gradient(to right bottom, #0f97d5, #39459b); }
      #contact .contact-us_btn:hover,
      #contact .contact-us #contact_submit:hover {
        box-shadow: 0 15px 15px -11px rgba(0, 0, 0, 0.4);
        -webkit-transform: scale(1.05, 1.05);
        -moz-transform: scale(1.05, 1.05);
        -o-transform: scale(1.05, 1.05);
        transform: scale(1.05, 1.05);
        -webkit-transform: translate(0, -0.5rem);
        -moz-transform: translate(0, -0.5rem);
        -o-transform: translate(0, -0.5rem);
        transform: translate(0, -0.5rem);
        background: linear-gradient(to right bottom, #39459b, #0f97d5); }
    #contact .contact-us .map-title {
      font-size: 2rem;
      font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
      font-weight: 500;
      text-align: center;
      text-transform: uppercase;
      color: #464646; }
      @media (min-width: 300px) and (max-width: 767px) {
        #contact .contact-us .map-title {
          margin-top: 4rem; } }
    #contact .contact-us-map img {
      box-shadow: 0 0 14px #cccccc;
      border-radius: 8px; }

.contact_popup {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  z-index: 1040;
  display: none;
  justify-content: center;
  align-items: center; }

#contact_form {
  max-width: 500px;
  background: #f9f9f9;
  padding: 3rem 2rem;
  box-sizing: border-box;
  box-shadow: 0 0 10px #cccccc;
  border-radius: 8px; }
  #contact_form .contact_form-input {
    position: relative; }
  #contact_form .contact_form-input input,
  #contact_form .contact_form-input textarea {
    font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 500;
    font-size: 1.4rem;
    color: #464646;
    margin-bottom: 3rem;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #cccccc;
    outline: none;
    background: transparent; }
  #contact_form .contact_form-input input {
    padding: 0.5rem 0; }
  #contact_form .contact_form-input textarea {
    padding: 0 !important; }
  #contact_form .contact_form-input input:focus,
  #contact_form .contact_form-input textarea:focus {
    border-bottom-color: #E04622; }
  #contact_form .contact_form-input input:focus ~ label,
  #contact_form .contact_form-input input:valid ~ label,
  #contact_form .contact_form-input textarea:focus ~ label,
  #contact_form .contact_form-input textarea:valid ~ label {
    top: -22px;
    left: 0;
    color: #E04622;
    font-size: 1.2rem; }
  #contact_form .contact_form-input label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem 0;
    font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 500;
    font-size: 1.4rem;
    color: #464646;
    text-transform: uppercase;
    pointer-events: none;
    transition: 0.5s; }
    #contact_form .contact_form-input label span {
      color: #df1d41; }

.footer-section {
  padding: 3rem 0 2rem 0;
  background: linear-gradient(to right bottom, #0f97d5, #39459b); }
  .footer-section p {
    font-size: 2rem;
    font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 500; }
    @media (min-width: 300px) and (max-width: 375px) {
      .footer-section p {
        font-size: 1.6rem; } }

/* COMMON CAROUSEL UTILITIES */
.owl-carousel .owl-dots {
  text-align: center;
  margin-top: 2rem; }

.owl-carousel .owl-dots .owl-dot {
  width: 9px;
  height: 9px;
  background: #df1d41;
  border-radius: 50%;
  display: inline-block;
  margin-right: .5rem;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.owl-carousel.blue .owl-dots .owl-dot {
  background-image: linear-gradient(#0f97d5, #39459b); }

.owl-carousel .owl-dots .owl-dot.active {
  width: 30px;
  border-radius: 25px; }

.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
  display: none !important; }

.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#cover {
  background: url(../img/preloader-2.gif) no-repeat scroll center center #e3f4fd;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 9999999; }

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  background: #f1f3f5;
  border-left: 1px solid #d3dae0; }

::-webkit-scrollbar-thumb {
  background: linear-gradient(to right bottom, #39459b, #0f97d5); }
  @media (min-width: 768px) {
    ::-webkit-scrollbar-thumb {
      height: 65vh; } }
  @media (max-width: 767px) {
    ::-webkit-scrollbar-thumb {
      height: 17vh; } }
