// COLORS
$color-base: #F1F1F1;

$color-primary: #39459b;
$color-secondary: #0f97d5;

$red-drak: #df1d41;
$red-light: #b81f3b;
$yellow-dark: #ffc000;
$yellow-light: #da8e00;

$orange-dark: #E04622;
$log: #c24c4b;

$green-drak: #0ab819;
$green-light: #13c8c2;

$gray-1: #f9f9f9;
$gray-2: #eeeeee;
$gray-3: #737373;
$gray-4: #464646;
$gray-5: #cccccc;


$fb-dark: #002c60;
$fb-light: #3b5998;

// Restated Bootstrap Variables
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;
$primary: #18BC9C !default;

// Social Icons Colors
$fb-dark: #3C5A99;
$google-mama: #dd4b39;
$twiter: #00aced;
$linkedin: #0077B5;

// FONT SIZE
$font-10: 1rem;
$font-12: 1.2rem;
$font-14: 1.4rem;
$font-16: 1.6rem;
$font-18: 1.8rem;
$font-20: 2rem;
$font-22: 2.2rem;
$font-24: 2.4rem;
$font-26: 2.6rem;
$font-28: 2.8rem;
$font-32: 3.2rem;
$font-36: 3.6rem;
$font-38: 3.8rem;
$font-42: 4.2rem;
$font-46: 4.6rem;
$font-48: 4.8rem;
$font-56: 5.6rem;


// Shadow
$dark-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

$dark-shadow-hover: 0 0 11px rgba(33, 33, 33, 0.4) !important;

$dark-shadow-hover-2: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

$light-shadow: 0 5px 10px -5px rgba(0,0,0,.1);
$nav-shadow: 0 5px 10px -5px rgba(0,0,0,.4);
$light-radious: 5px;

$animate: all 0.2s ease-in-out;


