/* SERVICE SECTION STYLED */
.service_item {
  background-color: $gray-1;
  padding: 4.5rem 3rem;
  border: 2px solid $gray-2;
  border-radius: 8px;
  position: relative;
  overflow: hidden;

  @media (min-width: 300px) and (max-width: 991px) {
    margin-bottom: 2rem;
  }

  &-icon {
    margin-bottom: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    display: block;

    width: 4.5rem;
    height: 4.5rem;
  }

  .soft-solution_icon, .sphere_icon {fill: $green-light;}
  .mobile-app_icon { fill: $color-primary;}

  &-title {
    position: relative;
    @include roboto-font;
    font-size: $font-26;
    font-weight: 500;
    color: $gray-4;
    display: block;
    text-align: center !important;
    text-transform: capitalize;
    padding: 1.5rem;

    &:after {
      content: "";
      position: absolute;
      bottom: -15px;
      left: calc(50% - 20px);
      width: 5rem;
      height: 2px;
      background: $gray-4;
    }
  }

  &-des {
    padding: 1.5rem 0 0 0;
    @include roboto-font;
    font-size: $font-16;
    line-height: 1.6;
    font-weight: 500;
    color: $gray-900;
    text-align: center;
  }

  &-icon,
  &-title,
  &-des {
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  &:hover .service-hover,
  &:hover &-icon,
  &:hover &-title,
  &:hover &-title:after,
  &:hover &-des  {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
    color: $white !important;
  }

  &:hover &-title:after {
    background: $white !important;
  }

  &:hover .soft-solution_icon,
  &:hover .mobile-app_icon,
  &:hover .sphere_icon {
    fill: $white !important;
  }
}

/* WHAT WE DO SECTION STYLED */
.what_we-do {
  padding: 5rem 0 2rem 0;
  background: linear-gradient(to right bottom, $color-primary, $color-secondary);
  transform: skewY(-2deg);

  & > * {
    transform: skewY(2deg);
  }

  &_img {

  }

  &_title {

    h2 {
      @include roboto-font;
      font-size: $font-26;
      font-weight: 500;
      color: $white;
      text-align: left;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }

    p {
      @include roboto-font;
      font-size: $font-18;
      line-height: 1.4;
      font-weight: 500;
      color: $white;
      text-align: left;
      margin-bottom: 2rem;
    }
  }

  &_items {

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style-type: none;
        @include roboto-font;
        font-size: $font-16;
        font-weight: 500;
        color: $white;
        text-align: left;

        i {
          font-size: $font-12;
          color: $green-light !important;
          margin-right: 0.5rem;
        }
      }
    }
  }
}

/* PORTFOLIO SECTION STYLED */
#portfolio {
  padding: 3rem 0;
  margin: 5rem 0;

  .portfolio_nav {
    display: inline-block;
    padding: 1rem 2rem;
    background: $gray-1;
    border-radius: 25px;
    width: auto;
    border: 2px solid $gray-2;

    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      padding: 1rem 1.5rem;
    }

    @media only screen and (min-width: 376px) and (max-width: 575px) {
      padding: 1rem 1.5rem;
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style-type: none;
        display: inline-block;
        margin: 0 1rem;

        @media only screen and (min-width: 992px) and (max-width: 1199px) {
          margin: 0 0.5rem;
        }

        @media only screen and (min-width: 376px) and (max-width: 575px) {
          margin: 0 0.4rem;
        }

        @media only screen and (min-width: 300px) and (max-width: 375px) {
          display: block;
        }

        span {
          display: block;
          padding: 0.8rem 2.5rem;
          border-radius: 25px;
          text-decoration:none;
          cursor: pointer;
          @include roboto-font;
          font-size: $font-18;
          line-height: 1.4;
          font-weight: 500;
          color: $gray-4;
          transition: all 0.3s;

          @media only screen and (min-width: 992px) and (max-width: 1199px) {
            padding: 0.8rem 2rem;
          }

          @media only screen and (min-width: 576px) and (max-width: 767px) {
            padding: 0.8rem 2rem;
          }

          @media only screen and (min-width: 376px) and (max-width: 575px) {
            padding: 0.8rem;
          }

          &:hover {
            background: linear-gradient(to right bottom, $color-primary, $color-secondary);
            color: $white;
          }
        }

        span.active {
          background: linear-gradient(to right bottom, $color-primary, $color-secondary);
          color: $white;
        }
      }
    }
  }

  #portfoliolist {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .portfolio_items {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    display:none;
    width: 30%;
    margin: 1%;
    float: left;
    overflow:hidden;

    @media only screen and (min-width: 768px) and (max-width: 991px) {
      width: 48%;
    }

    @media only screen and (max-width: 767px) {
      width: 96%;
      margin: 2%;
    }

    border-radius: 10px;
    box-shadow: $dark-shadow;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

    &:hover {
      border-radius: 10px;
      box-shadow: $dark-shadow-hover;
    }

    &-wrap {
      overflow:hidden;
      position: relative !important;
      background: $gray-500;
      cursor:pointer;

      &_img {
        position: relative;

        .view-overly {
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
          opacity: 0;

          -webkit-transform: scale(0);
          transform: scale(0);
          -webkit-transition: transform .5s ease, opacity .7s ease;
          transition: transform .5s ease, opacity .7s ease;

          height: 100%;
          width: 100%;
          background: rgba(0,0,0,0.7);
          //background-color: fade-out($primary, .1);

          i {
            font-size: $font-36;
            @include vh-enter;
            color: $white;
            transition: all 0.4s;

            &:hover {
              color: $orange-dark;
            }
          }
        }

        img {
          width: 100%;
          height: 30rem;
          border-radius: 10px;
          position: relative;
          top:0;
          -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
          transition:         all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);

          &:hover {
            top:-60px;
          }
        }

        &:hover .view-overly {
          opacity: 1;
          -webkit-transform: scale(1);
          transform: scale(1);
          -webkit-transition: transform .5s ease, opacity 1.3s ease;
          transition: transform .5s ease, opacity 1.3s ease;
        }
      }

      .label {
        position: absolute;
        width: 100%;
        height: 80px;
        bottom: -80px;
        -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
        transition:         all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
      }

      .label-bg {
        background: linear-gradient(to right bottom, $color-primary, $color-secondary);
        width: 100%;
        height:100%;
        position: absolute;
        top:0;
        left:0;
      }

      .label-text {
        color: $white;
        position: relative;
        z-index:500;
        padding:1rem;

        .text-title {
          text-decoration: none;
          cursor: pointer;
          @include roboto-font;
          font-size: $font-16;
          line-height: 1.6;
          font-weight: 500;
          color: $white;
          text-align: center;
          text-transform: uppercase;
          display:block;
          transition: all 0.3s;

          &:hover {
            color: $orange-dark;
          }
        }

        .text-category {
          display:block;
          @include roboto-font;
          font-size: $font-16;
          line-height: 1.6;
          font-weight: 400;
          color: $white;
          text-align: center;
          text-transform: capitalize;
        }
      }

      &:hover .label {
        bottom:0;
      }
    }
  }

  .portfolio-more_btn {
    @include roboto-font;
    font-size: $font-18;
    line-height: 1.6;
    font-weight: 500;
    margin-top: 4rem;
    padding: 1rem 1.5rem;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 25px;
    background: linear-gradient(to right bottom, $color-primary, $color-secondary);

    &:hover {
      box-shadow: 0 15px 15px -11px rgba(0, 0, 0, 0.4);
      -webkit-transform: scale(1.05, 1.05);
      -moz-transform: scale(1.05, 1.05);
      -o-transform: scale(1.05, 1.05);
      transform: scale(1.05, 1.05);
      -webkit-transform: translate(0, -0.5rem);
      -moz-transform: translate(0, -0.5rem);
      -o-transform: translate(0, -0.5rem);
      transform: translate(0, -0.5rem);
      background: linear-gradient(to left bottom, $color-primary, $color-secondary);
    }
  }
}

/* PORTFOLIO MODAL STYLED */
.portfolio-modal {
  .portfolio-modal-dialog {
    padding: 3rem 1rem;
    min-height: calc(100vh - 2rem);
    margin: 1rem calc(1rem - 8px);
    position: relative;
    z-index: 2;
    -moz-box-shadow: 0 0 3rem 1rem fade-out(black, .5);
    -webkit-box-shadow: 0 0 3rem 1rem fade-out(black, .5);
    box-shadow: 0 0 3rem 1rem fade-out(black, .5);
    .close-button {
      position: absolute;
      top: 2rem;
      right: 2rem;
      color: $log;
      transition: all 0.2s;

      &:hover {
        color: $red-light;
      }

      i {
        line-height: $font-38;
      }
    }
    h2 {
      font-size: $font-20;
    }
  }
  @media(min-width: 768px) {
    .portfolio-modal-dialog {
      min-height: 100vh;
      padding: 5rem;
      margin: 3rem calc(3rem - 8px);
      h2 {
        font-size: 3rem;
      }
    }
  }

  &_img-wrap {
    position: relative;
    border-radius: 10px;
    box-shadow: $dark-shadow-hover;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

    &:hover .modal_view-overly {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: transform .5s ease, opacity 1.3s ease;
      transition: transform .5s ease, opacity 1.3s ease;
    }

    img {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      display: block;
      padding: 3rem 1rem;
    }

    .modal_view-overly {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      opacity: 0;

      -webkit-transform: scale(0);
      transform: scale(0);
      -webkit-transition: transform .5s ease, opacity .7s ease;
      transition: transform .5s ease, opacity .7s ease;

      height: 100%;
      width: 100%;
      border-radius: 10px;
      background: rgba(0,0,0,0.7);

      a {
        cursor: pointer;
        i {
          font-size: $font-56;
          @include vh-enter;
          color: $white;
          transition: all 0.4s;

          &:hover {
            color: $orange-dark;
          }
        }
      }

    }
  }

  &_content {

    .project-des {
      @include roboto-font;
      font-size: $font-16;
      line-height: 1.8;
      font-weight: 400;
      color: $gray-4;
      text-align: justify;
    }

    .project-tech {
      @include roboto-font;
      font-size: $font-22 !important;
      line-height: 1.6;
      font-weight: 500;
      color: $gray-4;
      text-align: left;
      text-transform: uppercase;
    }

    .project-tech_list {

      ul {
        margin: 0;
        padding: 0;

        li {
          list-style-type: none;
          @include roboto-font;
          font-size: $font-16;
          font-weight: 400;
          color: $gray-4;
          text-align: left;

          i {
            font-size: $font-12;
            color: $green-light !important;
            margin-right: 0.5rem;
          }
        }
      }
    }

    .project_close-btn {
      font-size: $font-16;
      line-height: 1.6;
      font-weight: 500;
      color: $white;
      background: linear-gradient(to right bottom, $color-primary, $color-secondary);
      padding: 1rem 2rem;
      border-radius: 20px;
      cursor: pointer;
      text-transform: capitalize;
      text-decoration: none;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;

      &:hover {
        box-shadow: 0 15px 15px -11px rgba(0, 0, 0, 0.4);
        -webkit-transform: scale(1.05, 1.05);
        -moz-transform: scale(1.05, 1.05);
        -o-transform: scale(1.05, 1.05);
        transform: scale(1.05, 1.05);
        -webkit-transform: translate(0, -0.5rem);
        -moz-transform: translate(0, -0.5rem);
        -o-transform: translate(0, -0.5rem);
        transform: translate(0, -0.5rem);
        background: linear-gradient(to left bottom, $color-primary, $color-secondary);
      }
    }
  }
}

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 70%;
  cursor: auto;

  @media only screen and (min-width: 300px) and (max-width: 1199px) {
    width: 100%;
  }
}

/* TESTIMONIAL SECTION STYLED */
#testimonial {
  margin: 8rem 0 4rem 0;
  padding: 8rem 0 4rem 0;
  background-color: $gray-1;

  .testimonial-box {
    border: 2px solid $gray-2;
    padding: 3rem 1rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    position: relative;
    z-index: 0;
    background-color: $white;
    text-align: center !important;

    i {
      font-size: $font-48;
      color: $green-light;

      @media only screen and (min-width: 768px) and (max-width: 991px) {
        font-size: $font-32;
      }
    }

    h2 {
      font-size: $font-24;
      font-weight: 500;
    }

    h3 {
      font-size: $font-20;
      font-weight: 400;
      text-transform: uppercase;

      @media only screen and (min-width: 768px) and (max-width: 991px) {
        font-size: $font-18;
      }
    }

    h2, h3 {
      @include roboto-font;
      line-height: 1.8;
      color: $gray-4;
    }
  }

  .happy-clients {

  }

  .total-projects {

  }

  .total-events {

  }

  .clients_desc {
    padding-left: 3rem;

    h2 {
      @include roboto-font;
      font-size: $font-24;
      font-weight: 500;
      line-height: 1.8;
      color: $gray-4;
    }

    .client_opinion {
      @include roboto-font;
      font-size: $font-16;
      font-weight: 400;
      line-height: 1.6;
      color: $gray-4;
    }
  }

  #clients_slider {
    padding-left: 2rem;

    .client_item {
      padding: 1rem;

      .client_opinion {
        padding: 2rem;
        background: $white;
        border-radius: 8px;
        border: 2px solid $gray-2;
        position: relative;
        margin-bottom: 1.5rem;
        @include roboto-font;
        font-size: $font-14;
        font-weight: 500;
        text-align: justify;
        color: $gray-4;

        &:after {
          content: "";
          position: absolute;
          top: calc(100% - 14.5px);
          left: 21px;
          width: 30px;
          height: 30px;
          background: $white;
          border-width: 0px 2px 2px 0px;
          border-color: $gray-2;
          border-style: solid;
          background: $white;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }

      .client_image {
        width: 80px;
        border-radius: 50%;
        margin-top: 1rem;
        margin-right: 1rem;
      }

      .client_name {
        @include roboto-font;
        font-size: $font-20;
        font-weight: 500;
        color: $gray-4;
        display: block;
      }

      .client_designation {
        @include roboto-font;
        font-size: $font-14;
        font-weight: 500;
        color: $gray-4;
        display: block;
      }
    }
  }
}

/* MISSION & VISION SECTION STYLED */
.mission_vission {
  margin: 3rem 0 !important;
  padding: 5rem 0;
  background: linear-gradient(to right bottom, $color-primary, $color-secondary);
  transform: skewY(-2deg);

  & > * {
    transform: skewY(2deg);
  }

  &-desc {
    font-size: $font-56;
    color: $white;

    h2 {
      @include roboto-font;
      font-size: $font-26;
      font-weight: 500;
      color: $white;
      text-transform: uppercase;
      margin-bottom: 1.5rem;
      font-style: italic;
    }

    p {
      @include roboto-font;
      font-size: $font-16;
      line-height: 1.4;
      font-weight: 500;
      color: $white;
      text-align: justify;
      font-style: italic;
    }
  }
}

/* TEAM SECTION STYLED */
#team {
  margin: 5rem 0;

  #team_slider {
    margin-top: 4rem;

    .team_item {
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 0 14px $gray-5;

      .pic {
        position: relative;

        &:before {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: rgba(0, 0, 0, 0.7);
          opacity: 0;
          transition: all 0.3s ease 0s;
          border-radius: 8px;
          z-index: 1;
        }

        &:after {
          content: "";
          width: 90%;
          height: 90%;
          border: 2px solid #fff;
          position: absolute;
          top: 5%;
          left: 5%;
          opacity: 0;
          transition: all 0.3s ease 0s;
          border-radius: 8px;
          z-index: 1;
        }

        img {
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
        }
      }

      .social-links {
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
        position: absolute;
        bottom: 40px;
        left: 0;
        opacity: 0;
        z-index: 2;
        transition: all 0.3s ease 0s;
        justify-content: center;
        color: $white;
        font-size: $font-20;

        li {
          margin: 0 0.8rem;

          a {
            color: $white;
          }
        }

        .fa-twitter, .fa-google-plus-g, .fa-linkedin-in, .fa-facebook-f {
          transition: all 0.2s;
        }

        .fa-twitter {
          &:hover {
            color: $twiter;
          }
        }

        .fa-google-plus-g {
          &:hover {
            color: $google-mama;
          }
        }

        .fa-linkedin-in {
          &:hover {
            color: $linkedin;
          }
        }

        .fa-facebook-f {
          &:hover {
            color: $fb-dark;
          }
        }
      }

      .team-content {
        padding: 15px 0;
        background: $gray-2;
        overflow: hidden;
        position: relative;
        border-top: 3px solid $color-secondary;

        .title {
          font-size: $font-18;
          font-weight: 500;
          text-transform: uppercase !important;
        }

        .post {
          font-size: $font-14;
          font-weight: 500;
          text-transform: capitalize !important;
        }

        .title,
        .post {
          display: block;
          text-align: center !important;
          @include roboto-font;
        }

        &:before {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: -100%;
          left: 0;
          transition: all 0.3s ease-out 0s;
          background-image: linear-gradient(to right bottom, $color-secondary, $color-primary);
        }
      }

      .title,
      .post {
        transition: all 0.5s ease 0s;
        position: relative;
        z-index: 1;
      }

      &:hover .team-content {
        color: $white;
      }

      &:hover .team-content:before {
        top: 0;
      }

      &:hover .pic img {
        -webkit-transform: scale(1.1, 1.1);
        -moz-transform: scale(1.1, 1.1);
        -o-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
        filter: blur(2px);
      }

      &:hover .pic:before,
      &:hover .pic:after,
      &:hover .pic .social-links,
      &:hover .pic:before,
      &:hover .pic:after,
      &:hover .pic .social-links {
        opacity: 1;
      }
    }
  }
}

/* CONTACT SECTION STYLED */
#contact {
  padding: 5rem 0;
  background-color: $gray-1;

  .contact-us {
    background: $white;
    border-radius: 8px;
    padding: 5rem 4rem;
    box-shadow: 0 0 14px $gray-5;
    margin-right: 0;
    margin-left: 0;

    .contact_info {
      border-radius: 8px;

      .contact_item {
        margin-bottom: 2rem;
      }

      .info_icon {
        font-size: $font-26;
        margin-right: 1rem;
      }

      p:first-of-type {
        font-size: $font-16;
        font-weight: 500;
      }

      p:last-of-type {
        font-size: $font-12;
        font-weight: 500;
      }

      p {
        @include roboto-font;
        margin-bottom: 0;
        color: $gray-4;

        a {
          text-decoration: none;
          text-transform: lowercase !important;
          color: $gray-4 !important;
          transition: all 0.4s;

          &:hover {
            color: $green-light !important;
          }
        }
      }
    }

    &_btn,
    #contact_submit {
      font-size: $font-14;
      @include roboto-font;
      font-weight: 500;
      text-decoration: none;
      padding: 1rem 2rem;
      position: relative;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      border-radius: 25px;
      background: linear-gradient(to right bottom, $color-secondary, $color-primary);

      &:hover {
        box-shadow: 0 15px 15px -11px rgba(0, 0, 0, 0.4);
        -webkit-transform: scale(1.05, 1.05);
        -moz-transform: scale(1.05, 1.05);
        -o-transform: scale(1.05, 1.05);
        transform: scale(1.05, 1.05);
        -webkit-transform: translate(0, -0.5rem);
        -moz-transform: translate(0, -0.5rem);
        -o-transform: translate(0, -0.5rem);
        transform: translate(0, -0.5rem);
        background: linear-gradient(to right bottom, $color-primary, $color-secondary);
      }
    }

    .map-title {
      font-size: $font-20;
      @include roboto-font;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase;
      color: $gray-4;

      @media (min-width: 300px) and (max-width: 767px) {
        margin-top: 4rem;
      }
    }

    &-map {

      img {
        box-shadow: 0 0 14px $gray-5;
        border-radius: 8px;
      }
    }
  }
}


.contact_popup {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  z-index: 1040;
  display: none;
  justify-content: center;
  align-items: center;
}

//#contact_form {
//  max-width: 500px;
//  background: $gray-1;
//  padding: 2rem;
//  box-shadow: 0 0 10px $gray-5;
//  border-radius: 8px;
//
//  .form-input {
//    font-size: $font-14;
//    @include roboto-font;
//    font-weight: 500;
//    min-height: 45px;
//    padding: 0.5rem 1rem;
//    border-radius: 25px;
//    border: 2px solid $gray-5;
//    background: transparent;
//    margin-bottom: 1.5rem;
//
//    &::placeholder {
//      color: $gray-5;
//    }
//  }
//
//  textarea {
//    resize: none;
//    padding: 0.5rem 1rem;
//    height: 84px;
//    border-radius: 25px;
//    border: 2px solid $gray-5;
//    background: transparent;
//    overflow: auto;
//  }
//}

#contact_form {
  max-width: 500px;
  background: $gray-1;
  padding: 3rem 2rem;
  box-sizing: border-box;
  box-shadow: 0 0 10px $gray-5;
  border-radius: 8px;

  .contact_form-input {
    position: relative;
  }

  .contact_form-input input,
  .contact_form-input textarea {
    @include roboto-font;
    font-weight: 500;
    font-size: $font-14;
    color: $gray-4;
    margin-bottom: 3rem;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: $gray-5;
    outline: none;
    background: transparent;
  }

  .contact_form-input input {
    padding: 0.5rem 0;
  }

  .contact_form-input textarea {
    padding: 0 !important;
  }

  .contact_form-input input,
  .contact_form-input textarea {

    &:focus {
      border-bottom-color: $orange-dark;
    }

    &:focus ~ label,
    &:valid ~ label {
      top: -22px;
      left: 0;
      color: $orange-dark;
      font-size: $font-12;
    }
  }

  .contact_form-input label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem 0;
    @include roboto-font;
    font-weight: 500;
    font-size: $font-14;
    color: $gray-4;
    text-transform: uppercase;
    pointer-events: none;
    transition: 0.5s;

    span {
      color: $red-drak;
    }
  }
 }


.footer-section {
  padding: 3rem 0 2rem 0;
  background: linear-gradient(to right bottom, $color-secondary, $color-primary);

  p {
    font-size: $font-20;
    @include roboto-font;
    font-weight: 500;

    @media (min-width: 300px) and (max-width: 375px) {
      font-size: $font-16;
    }
  }
}

/* COMMON CAROUSEL UTILITIES */
.owl-carousel .owl-dots {
  text-align: center;
  margin-top: 2rem;
}

.owl-carousel .owl-dots .owl-dot {
  width: 9px;
  height: 9px;
  background: $red-drak;
  border-radius: 50%;
  display: inline-block;
  margin-right: .5rem;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.owl-carousel.blue .owl-dots .owl-dot {
  background-image: linear-gradient($color-secondary, $color-primary  );
}

.owl-carousel .owl-dots .owl-dot.active {
  width: 30px;
  border-radius: 25px;
}

.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
  display: none !important;
}

.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#cover {
  background: url(../img/preloader-2.gif) no-repeat scroll center center #e3f4fd; position: fixed; height: 100%; width: 100%; z-index: 9999999;
}

